<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<appSettings>
		<add key="Key" value="AIzaSyA7oXsmrBgYwPz98gqtWSPmAxIcH2Q49" />
		<add key="DirectionsUrl" value="https://maps.googleapis.com/maps/api/directions/json?" />
		<add key="DistanceMatrixUrl" value="https://maps.googleapis.com/maps/api/distancematrix/json?" />
		<add key="ElevationUrl" value="https://maps.googleapis.com/maps/api/elevation/json?" />
		<add key="GeocodeUrl" value="https://maps.googleapis.com/maps/api/geocode/json?" />
		<add key="GeolocationUrl" value="https://www.googleapis.com/geolocation/v1/geolocate?" />
		<add key="PlaceUrl" value="https://maps.googleapis.com/maps/api/place" />
		<add key="RoadsUrl" value="https://roads.googleapis.com/v1/" /> 
		<add key="TimezoneUrl" value="https://maps.googleapis.com/maps/api/timezone/json?" />
	</appSettings>
</configuration>