<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<appSettings>
		<add key="Key" value="AIzaSyA7oXsmrBgYwPz98gqtWSPmAxIcH2Q49" />

		<add key="Geolocation" value="https://www.googleapis.com/geolocation/v1/geolocate?" />
		<add key="SnapRoads" value="https://roads.googleapis.com/v1/snapToRoads?" />
		<add key="SpeedLimit" value="https://roads.googleapis.com/v1/speedLimits?" />

		<add key="Directions" value="https://maps.googleapis.com/maps/api/directions/json?" />
		<add key="DistanceMatrix" value="https://maps.googleapis.com/maps/api/distancematrix/json?" />
		<add key="Elevation" value="https://maps.googleapis.com/maps/api/elevation/json?" />
		<add key="Geocode" value="https://maps.googleapis.com/maps/api/geocode/json?" />
		<add key="Timezone" value="https://maps.googleapis.com/maps/api/timezone/json?" />
		<add key="PlaceAdd" value="https://maps.googleapis.com/maps/api/place/add/json?" />
		<add key="PlaceDelete" value="https://maps.googleapis.com/maps/api/place/delete/json?" />
		<add key="PlaceAutocomplete" value="https://maps.googleapis.com/maps/api/place/autocomplete/json?" />
		<add key="PlaceQueryAutocomplete" value="https://maps.googleapis.com/maps/api/place/queryautocomplete/json?" />
		<add key="PlaceDetails" value="https://maps.googleapis.com/maps/api/place/details/json?" />
		<add key="PlacePhoto" value="https://maps.googleapis.com/maps/api/place/photo/json?" />
		<add key="PlaceNearbySearch" value="https://maps.googleapis.com/maps/api/place/nearbysearch/json?" />
		<add key="PlaceTextSearch" value="https://maps.googleapis.com/maps/api/place/textsearch/json?" />
		<add key="PlaceRadarSearch" value="https://maps.googleapis.com/maps/api/place/radarsearch/json?" />

	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

</configuration>